.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 30px;
  height: 30px;
}

.character {
  font-size: 14px;
  align-self: center;
}
.title {
  font-family: Arial;
  background-color: rgb(255, 255, 255);
  color: #000000;
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  text-align: center;
  border-radius: 25px;
}
.game {
  max-width: fit-content;
  margin: 20px auto;
  padding: 20px;
  background-color: #272323;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.save {
  font-family: Arial;
  background-color: rgb(110, 65, 22);
  color: rgb(14, 14, 14);
  cursor: pointer;
  padding: 0px;
  width: auto;
  border: 5px solid rgb(74, 44, 15);
  text-align: center;
  outline: none;
  font-size: 20px;
  /* border-radius: 10px; */
}

.button {
  background-color: #777;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: auto;
  border: 2px solid #666;
  text-align: center;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
}

.time-button {
  position: sticky;
  left: 44%;
  right: 50%;
  background-color: rgb(40, 67, 43);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  border: 2px solid #000000;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
}

.language-button {
  position: sticky;
  float: right;
  background-color: rgb(40, 67, 43);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  border: 2px solid #000000;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
}

.interaction {
  font-family: Arial;
  background-color: rgb(32, 158, 65);
  color: rgb(14, 14, 14);
  cursor: pointer;
  padding: 10px;
  width: auto;
  border: 5px solid rgb(22, 110, 45);
  text-align: justify;
  outline: none;
  font-size: 20px;
}

.loadSaves {
  margin: auto;
  max-width: 100px;
}
